@font-face {
  font-family:'Hind-Bold';
  src: url('../assets/fonts/Hind-Bold.ttf');
  src: url("../assets/fonts/Hind-Light.ttf");
  src: url("../assets/fonts/Hind-Medium.ttf");
  src: url("../assets/fonts/Hind-Regular.ttf");
  src: url("../assets/fonts/Hind-Semibold.ttf");
}